<page-header></page-header>

<ion-content padding style="margin-top: 59px">
  <h1 text-center ion-text color="principal">
      <img src="../../assets/imgs/meeting_principal.svg" width="50em" style="margin-bottom: -10px">
    &nbsp;Manejo de Mesas
  </h1>

  <div class="manejo-mesas-principal">

      <ion-row>
        <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
          <button class="button-agregar-mesa" (click)="openCrearMesaModal()">
            <i class="fas fa-plus" style="font-size: 2rem"> </i> &nbsp;Aperturar Mesa
          </button>
        </ion-col>
        <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
          <ion-searchbar
          [showCancelButton]="shouldShowCancel"
          (ionInput)="filterItems($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    
    
    <div style="height: 100%; overflow: auto; margin-bottom: 60px" >
      <a  style="text-decoration: none;">
        <ion-row justify-content-center *ngIf="!selectedMesa">
          <ion-col col-6 col-md-4 col-lg-3 col-xl-2 *ngFor="let mesa of items" (click)="openMesa(mesa)" >
            <ion-card class="card-mesa" >
              <ion-row >
                <ion-col col class="card-mesa-title">Mesa {{mesa.num_mesa}}</ion-col>
              </ion-row>
              <ion-row >
                <ion-col col class="card-mesa-etiqueta">{{mesa.etiqueta}}</ion-col>
              </ion-row>
              <ion-row >
                <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_clientes_mesa > 0"><i class="fas fa-users"></i></ion-col>
                <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_celebraciones_mesa > 0"><img src="../../assets/imgs/confetti_menu.svg"/></ion-col>
                <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_fotos_mesa > 0"><i class="fas fa-camera"></i></ion-col>
                <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_correos_mesa > 0"><i class="fas fa-envelope"></i></ion-col>
              </ion-row>
              <ion-row >
                <ion-col col class="card-mesa-number" *ngIf="mesa.cant_clientes_mesa > 0">{{mesa.cant_clientes_mesa}}</ion-col>
                <ion-col col class="card-mesa-number" *ngIf="mesa.cant_celebraciones_mesa > 0">{{mesa.cant_celebraciones_mesa}}</ion-col>
                <ion-col col class="card-mesa-number" *ngIf="mesa.cant_fotos_mesa > 0">{{mesa.cant_fotos_mesa}}</ion-col>
                <ion-col col class="card-mesa-number" *ngIf="mesa.cant_correos_mesa > 0">{{mesa.cant_correos_mesa}}</ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center *ngIf="selectedMesa">
            <ion-col col-3 col-md-4 col-lg-4 col-xl-3 *ngFor="let mesa of items" (click)="openMesa(mesa)" >
              <ion-card class="card-mesa" >
                <ion-row >
                  <ion-col col class="card-mesa-title">Mesa {{mesa.num_mesa}}</ion-col>
                </ion-row>
                <ion-row >
                  <ion-col col class="card-mesa-etiqueta">{{mesa.etiqueta}}</ion-col>
                </ion-row>
                <ion-row >
                  <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_clientes_mesa > 0"><i class="fas fa-users"></i></ion-col>
                  <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_celebraciones_mesa > 0"><img src="../../assets/imgs/confetti_menu.svg"/></ion-col>
                  <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_fotos_mesa > 0"><i class="fas fa-camera"></i></ion-col>
                  <ion-col col class="card-mesa-icon" *ngIf="mesa.cant_correos_mesa > 0"><i class="fas fa-envelope"></i></ion-col>
                </ion-row>
                <ion-row >
                  <ion-col col class="card-mesa-number" *ngIf="mesa.cant_clientes_mesa > 0">{{mesa.cant_clientes_mesa}}</ion-col>
                  <ion-col col class="card-mesa-number" *ngIf="mesa.cant_celebraciones_mesa > 0">{{mesa.cant_celebraciones_mesa}}</ion-col>
                  <ion-col col class="card-mesa-number" *ngIf="mesa.cant_fotos_mesa > 0">{{mesa.cant_fotos_mesa}}</ion-col>
                  <ion-col col class="card-mesa-number" *ngIf="mesa.cant_correos_mesa > 0">{{mesa.cant_correos_mesa}}</ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
      </a>
    </div>
  </div>
  
  <div class="mesa-selected" *ngIf="selectedMesa">
      <a class="cerrar-show-mesa" (click)="closeShowMesa()">
        Cerrar &nbsp; <i class="fas fa-arrow-right"></i>
      </a>
      <div class="mesa-options-bar">
          <ion-row>
            <ion-col col>
              <a (click)="openMesaEditar()"><i class="far fa-edit"></i></a>
            </ion-col>
            <ion-col col >
              <a (click)="openMesaCelebraciones_manejo()"><img src="../../assets/imgs/confetti_menu.svg" class="option-img"/></a>
            </ion-col>
            <ion-col col >
              <a (click)="openMesaClientes()"><i class="fas fa-user"></i></a>
            </ion-col>
            <ion-col col >
              <a (click)="openMesaFotos_manejo()"><i class="fas fa-camera"></i></a>
            </ion-col>
            <ion-col col >
              <a (click)="openMesaCorreo()"><i class="fas fa-envelope"></i></a>
            </ion-col>
          </ion-row>
        </div>
      <div class="mesa-title-bar">
          <div class="table-cell">
            <p class="mesa-numero">Mesa {{selectedMesa.num_mesa}}:</p>
            <p class="mesa-etiqueta">&nbsp; {{selectedMesa.etiqueta}}</p>
          </div>
        </div>
        <div class="mesa-horas-bar">
            <ion-row>
              <ion-col col-12 >
                <i class="far fa-clock"></i> &nbsp; Hora de Apertura: &nbsp;<span style="text-decoration: bold; font-size: 2.4rem">{{horaApertura}}</span>
              </ion-col>
              <ion-col col-12 >
                <i class="far fa-clock"></i> &nbsp; Hora de Clausura: &nbsp;<span style="text-decoration: bold; font-size: 2.4rem">{{horaClausura}}</span>
              </ion-col>
            </ion-row>
        </div>
          <ion-row >
            <ion-col col class="title-section">
              Motivo de Celebración:
            </ion-col>
          </ion-row>
        <div class="mesaSelected-celebraciones-bar">
            <ion-row>
                <ion-col col class="empty" *ngIf="celebracionesMesa == 0">
                  ¡No se han agregado Celebraciones aún!
                </ion-col>
              </ion-row>  
              <ion-row *ngFor="let clebracion of celebracionesMesa">
                <ion-col col >
                  <img src="../../assets/imgs/confetti_menu.svg"/> &nbsp; {{clebracion.celebracion_descripcion}} de {{clebracion.cliente_name}} <a (click)="deleteCelebracionMesa(clebracion)"><i class="far fa-trash-alt icon-delete"></i></a>
                </ion-col>
              </ion-row>
        </div>
          <ion-row >
            <ion-col col class="title-section">
              Clientes de la Mesa:
            </ion-col>
          </ion-row>
        <div class="mesaSelected-clientes-bar">
            <ion-row>
                <ion-col col class="empty" *ngIf="cantClientes == 0">
                  ¡No se han agregado Clientes aún!
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let cliente of clientesMesa">
                <ion-col col >
                  <i class="fas fa-user"></i> &nbsp; {{cliente.cliente_name}} <a (click)="deleteClienteMesa(cliente)"><i class="far fa-trash-alt icon-delete"></i></a>
                </ion-col>
              </ion-row>
        </div>

  </div>
</ion-content>


