
<page-header *ngIf="!isModal"></page-header>
<ion-header *ngIf="isModal">
    <div class="modal-header">
      <p class="modal-title" >Crear Cliente</p>
  
      <button class="modal-close-icon" (click)="closeModal()">
        <i class="fas fa-times" style="font-size: 2.3rem"></i>
      </button>
    </div>      
  </ion-header>
  
  <ion-content>
    <div padding class="content-overflow-cli">
      <form  [formGroup]="clienteForm">

        <ion-row justify-content-center>
          <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
            <ion-item class="form-item">
              <ion-label stacked>Nombre y Apellido:</ion-label>
              <ion-input type="text" [formControl]="clienteForm.controls['name']"></ion-input>
            </ion-item>
          </ion-col>
            
          <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
              <ion-item class="form-item">
                <ion-label stacked>
                  E-Mail: 
                  <span *ngIf="clienteForm.controls.email.hasError('pattern')" style="float: right; color: #FB3D37">
                    Ingrese un E-Mail válido
                  </span>
                </ion-label>
                <ion-input type="email" [formControl]="clienteForm.controls['email']"></ion-input>
              </ion-item>
          </ion-col>
            
          <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
              <ion-item class="form-item">
                <ion-label stacked>Teléfono (Whatsapp):</ion-label>
                <ion-input type="tel" [formControl]="clienteForm.controls['whatsapp']"></ion-input>
              </ion-item>
          </ion-col>
            
          <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
              <ion-item class="form-item">
                <ion-label stacked>Teléfono (Opcional):</ion-label>
                <ion-input type="tel" [formControl]="clienteForm.controls['telefono']"></ion-input>
             </ion-item>
          </ion-col>
            
          <ion-col col-12>
              <ion-item class="form-item">
                <ion-label stacked>Dirección:</ion-label>
                <ion-input type="text" [formControl]="clienteForm.controls['direccion']"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col col-12 col-lg-8 col-xl-8  no-padding class="celebraciones-container hidden-sm-down" *ngIf="!isModal">
              
              <div  formArrayName="celebraciones_cliente" >

                  <div no-padding [formGroupName]="i" *ngFor="let celebracion of clienteForm.controls.celebraciones_cliente.controls; let i = index">
                    
                        <div class="celebracion-agregada-descripcion">
                            <ion-item no-lines class="item-celebracion-descripcion">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <img src="../../assets/imgs/confetti_menu.svg" class="img-celebracion">
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Seleccione una Celebración:</ion-label>
                              <ion-select (ionChange)="selectCelebracion(i)" interface="popover" formControlName="celebracion_id" class="celebracion-select" >
                                  <ion-option value="{{cel.id}}" *ngFor="let cel of celebraciones" name="celebraciones_option">
                                      {{cel.descripcion}}
                                  </ion-option>
                              </ion-select>
                            </ion-item>
                        </div>  

                        <ion-input hidden formControlName="celebracion_descripcion" type="text"></ion-input>
                                               
                        <div class="celebracion-agregada-fecha">
                          <ion-item no-lines class="item-celebracion-fecha">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <i class="far fa-calendar-alt icon-fecha"></i>
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Indique la fecha de la Celebración:</ion-label>
                              <ion-datetime class="celebracion-fecha" displayFormat="YYYY-MM-DD" pickerFormat="MMM/DD/YYYY" 
                            doneText="Aceptar" cancelText="Cancelar" formControlName="fecha" placeholder="YYYY-MM-DD"></ion-datetime>
                          </ion-item>
                        </div>
                        
                        <div class="celebracion-agregada-icon">
                            <ion-item no-lines class="item-celebracion-icon">
                              <a class="celebracion-delete" *ngIf="clienteForm.controls.celebraciones_cliente.length > 1" (click)="removeCelebracion(i)">
                                <i class="fas fa-times "></i>
                              </a>
                            </ion-item>
                        </div>
                    </div>
              </div>
              <span  ion-button float-left icon-left clear (click)="addCelebracion()">
                  <ion-icon name="add"></ion-icon>
                  Agregar Celebracion
              </span>
            </ion-col>

          <ion-col col-12  no-padding class="celebraciones-container hidden-sm-down" *ngIf="isModal">
              
              <div  formArrayName="celebraciones_cliente" >

                  <div no-padding [formGroupName]="i" *ngFor="let celebracion of clienteForm.controls.celebraciones_cliente.controls; let i = index">
                    
                        <div class="celebracion-agregada-descripcion">
                            <ion-item no-lines class="item-celebracion-descripcion">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <img src="../../assets/imgs/confetti_menu.svg" class="img-celebracion">
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Seleccione una Celebración:</ion-label>
                              <ion-select (ionChange)="selectCelebracion(i)" interface="popover" formControlName="celebracion_id" class="celebracion-select" >
                                  <ion-option value="{{cel.id}}" *ngFor="let cel of celebraciones" name="celebraciones_option">
                                      {{cel.descripcion}}
                                  </ion-option>
                              </ion-select>
                            </ion-item>
                        </div>  

                        <ion-input hidden formControlName="celebracion_descripcion" type="text"></ion-input>
                                               
                        <div class="celebracion-agregada-fecha">
                          <ion-item no-lines class="item-celebracion-fecha">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <i class="far fa-calendar-alt icon-fecha"></i>
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Indique la fecha de la Celebración:</ion-label>
                              <ion-datetime class="celebracion-fecha" displayFormat="YYYY-MM-DD" pickerFormat="MMM/DD/YYYY" 
                            doneText="Aceptar" cancelText="Cancelar" formControlName="fecha" placeholder="YYYY-MM-DD"></ion-datetime>
                          </ion-item>
                        </div>
                        
                        <div class="celebracion-agregada-icon">
                            <ion-item no-lines class="item-celebracion-icon">
                              <a class="celebracion-delete" *ngIf="clienteForm.controls.celebraciones_cliente.length > 1" (click)="removeCelebracion(i)">
                                <i class="fas fa-times "></i>
                              </a>
                            </ion-item>
                        </div>
                    </div>
              </div>
              <span  ion-button float-left icon-left clear (click)="addCelebracion()">
                  <ion-icon name="add"></ion-icon>
                  Agregar Celebracion
              </span>
            </ion-col>
          
          <ion-col col-12 no-padding class="celebraciones-container hidden-md-up">
              
              <div  formArrayName="celebraciones_cliente" >

                  <div no-padding [formGroupName]="i" *ngFor="let celebracion of clienteForm.controls.celebraciones_cliente.controls; let i = index">
                    
                        <div class="celebracion-agregada-descripcion" style="width: 100%; margin-bottom: -1px;">
                            <ion-item no-lines class="item-celebracion-descripcion">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <img src="../../assets/imgs/confetti_menu.svg" class="img-celebracion">
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Seleccione una Celebración:</ion-label>
                              <ion-select (ionChange)="selectCelebracion(i)" interface="popover" formControlName="celebracion_id" class="celebracion-select" >
                                  <ion-option value="{{cel.id}}" *ngFor="let cel of celebraciones" name="celebraciones_option">
                                      {{cel.descripcion}}
                                  </ion-option>
                              </ion-select>
                            </ion-item>
                        </div>  

                        <ion-input hidden formControlName="celebracion_descripcion" type="text"></ion-input>
                                               
                        <div class="celebracion-agregada-fecha" style="width: 85%; border-left: 1px solid">
                          <ion-item no-lines class="item-celebracion-fecha">
                              <ion-avatar item-start  style="float: left; margin:0;">
                                <i class="far fa-calendar-alt icon-fecha"></i>
                              </ion-avatar>
                              <ion-label style="color: #003300" stacked>Indique la fecha de la Celebración:</ion-label>
                              <ion-datetime class="celebracion-fecha" displayFormat="YYYY-MM-DD" pickerFormat="MMM/DD/YYYY" 
                            doneText="Aceptar" cancelText="Cancelar" formControlName="fecha" placeholder="YYYY-MM-DD"></ion-datetime>
                          </ion-item>
                        </div>

                        
                        <div class="celebracion-agregada-icon" style="width: 15%;">
                            <ion-item no-lines class="item-celebracion-icon">
                              <a class="celebracion-delete" *ngIf="clienteForm.controls.celebraciones_cliente.length > 1" (click)="removeCelebracion(i)">
                                <i class="fas fa-times "></i>
                              </a>
                            </ion-item>
                        </div>
                    </div>
              </div>
              <span  ion-button float-left icon-left clear (click)="addCelebracion()">
                  <ion-icon name="add"></ion-icon>
                  Agregar Celebracion
              </span>
            </ion-col> 

          

        </ion-row>

          

        <ion-row class="sign-in-button-container">
            <ion-col text-center>
                <button class="succes-button" (click)="crearCliente(clienteForm.value)" [disabled]="!clienteForm.valid">
                    <i class="fas fa-plus" style="font-size: 2rem"></i>&nbsp;Crear
                </button>
            </ion-col>
        </ion-row>
        
        
      </form>
      
    </div>
  </ion-content>
