<page-header></page-header>

<ion-content padding style="margin-top: 59px">
  <h1 text-center ion-text color="principal">
    <i class="fas fa-home"></i>
    &nbsp;Home
  </h1>

  <div class="hidden-lg-up items-container" style="min-height: auto; overflow: auto; margin-bottom: 60px">
    <a *ngFor="let pag of pages" (click)="openPage(pag)" class="text-decoration: none;">
      <ion-row justify-content-center>
        <ion-col>
          <ion-card class="card-item" [ngStyle]="{'border-color': pag.color}">
            <ion-row class="card-row">
              <ion-col col-4 class="card-col-icon" *ngIf="pag.iconType == 'icon'"> 
                <i class="{{pag.icon}} card-icon"></i>
              </ion-col>
              <ion-col col-4 class="card-col-icon" *ngIf="pag.iconType == 'img'"> 
                <img src="{{pag.icon}}"  style="width: 100px; position: relative; left: 50%; margin-left: -50px"/>
              </ion-col>
              <ion-col col-6 class="card-col-title">{{pag.title}}</ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </a>

    <a  (click)="openclientes()" class="text-decoration: none;">
        <ion-row >
          <ion-col>
            <ion-card class="card-item">
              <ion-row class="card-row">
                <ion-col col-4 class="card-col-icon" > 
                  <i class="fas fa-user-plus card-icon"></i>
                </ion-col>
                <ion-col col-6 class="card-col-title">Crear Cliente</ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </a>

  </div>

  <div class="hidden-md-down items-container"  style="min-height: auto; overflow: auto; margin-bottom: 60px">
    <a  class="text-decoration: none;">
      <ion-row justify-content-center>
        <ion-col col-6 *ngFor="let pag of pages" (click)="openPage(pag)">
          <ion-card class="card-item" [ngStyle]="{'border-color': pag.color}" style="height: 200px;">
            <ion-row style="display: table; height: 100%;">
              <ion-col col-3 class="card-col-icon" *ngIf="pag.iconType == 'icon'"> 
                <i class="{{pag.icon}}" style="font-size: 8.5rem; color: #003300; margin-left: 40%"></i>
              </ion-col>
              <ion-col col-3 class="card-col-icon" *ngIf="pag.iconType == 'img'"> 
                <img src="{{pag.icon}}"  style="width: 100px; position: relative;  margin-left: 40%"/>
              </ion-col>
              <ion-col col-7 class="card-col-title">{{pag.title}}</ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </a>

    <a  class="text-decoration: none;">
      <ion-row >
        <ion-col col-6  (click)="openclientes()">
          <ion-card class="card-item" style="height: 200px;">
            <ion-row style="display: table; height: 100%;">
              <ion-col col-3 class="card-col-icon" > 
                <i class="fas fa-user-plus" style="font-size: 8.5rem; color: #003300; margin-left: 40%"></i>
              </ion-col>
              <ion-col col-7 class="card-col-title">Crear CLiente</ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </a>
  </div>
    
  </ion-content>
  