<ion-header>
    <div class="modal-header">
      <p class="modal-title" >Fotos de la Mesa</p>
  
      <button class="modal-close-icon" (click)="closeModal()">
        <i class="fas fa-times" style="font-size: 2.3rem"></i>
      </button>
    </div>      
  </ion-header>
  
  <ion-content>

    <div padding class="search-bar">

      <ion-row justify-content-center>
        <ion-col col >
          <button class="button-agregar-mesa" (click)="addFoto()">
            <i class="fas fa-user-plus" style="font-size: 2rem"> </i> &nbsp;Agregar Referencia de Foto
          </button>
        </ion-col>
      </ion-row>

    </div>

    <div  class="fotos-overflow">
        <form [formGroup]="fotosMesaForm" >
            <div  formArrayName="fotosMesa" >

                <div no-padding [formGroupName]="i" *ngFor="let foto of fotosMesaForm.controls.fotosMesa.controls; let i = index">
                  
                      <div class="referencia-item">
                          <ion-item class="item-input-foto">
                            <ion-label floating>Referencia {{i+1}}:</ion-label>
                            <ion-input  type="text"  maxlength="50" formControlName="descripcion"></ion-input>
                          </ion-item>
                        <ion-item no-lines col-2 class="item-icon-foto" >
                          <a class="button-trash" *ngIf="fotosMesaForm.controls.fotosMesa.length > 1" (click)="removeFoto(i)">
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </ion-item>
                      </div>
                  
                  </div>

            </div>  
                         
        </form>
    </div>
        
        <button class="button-guardar-fotos" (click)="guardar(fotosMesaForm.value)" [disabled]="!fotosMesaForm.valid">
          <i class="fas fa-save" style="font-size: 2rem"> </i> &nbsp;Guardar 
        </button>
        
      </ion-content>

